In [1]:
import csv
import pandas as pd

In [2]:
# gender type:
# unknown - 0
# male - 1
# female - 2

In [3]:
data = pd.read_csv('/Users/jenny/Desktop/citibike/2013-07-CitiBiketripdata.csv')

In [4]:
gendertype = data['gender']
gendertype.head()

0    0
1    0
2    2
3    0
4    1
Name: gender, dtype: int64

In [5]:
male_count = 0
female_count = 0

for type in gendertype:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 511479, female count: 157006

In [7]:
data2 = pd.read_csv('/Users/jenny/Desktop/citibike/2013-08-CitiBiketripdata.csv')

In [8]:
gendertype2 = data2['gender']
gendertype2.head()

0    1
1    1
2    0
3    0
4    0
Name: gender, dtype: int64

In [13]:
male_count = 0
female_count = 0

for type in gendertype2:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 616914, female count: 198948

In [10]:
data3 = pd.read_csv('/Users/jenny/Desktop/citibike/2013-09-CitiBiketripdata.csv')

In [11]:
gendertype3 = data3['gender']
gendertype3.head()

0    1
1    0
2    1
3    1
4    1
Name: gender, dtype: int64

In [14]:
male_count = 0
female_count = 0

for type in gendertype3:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 669732, female count: 219400

In [15]:
data4 = pd.read_csv('/Users/jenny/Desktop/citibike/2013-10-CitiBiketripdata.csv')

In [16]:
gendertype4 = data4['gender']
gendertype4.head()

0    1
1    0
2    1
3    1
4    1
Name: gender, dtype: int64

In [17]:
male_count = 0
female_count = 0

for type in gendertype4:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 714293, female count: 225921

In [18]:
data5 = pd.read_csv('/Users/jenny/Desktop/citibike/2013-11-CitiBiketripdata.csv')

In [19]:
gendertype5 = data5['gender']
gendertype5.head()

0    2
1    1
2    0
3    1
4    2
Name: gender, dtype: int64

In [20]:
male_count = 0
female_count = 0

for type in gendertype5:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 487386, female count: 144371

In [21]:
data6 = pd.read_csv('/Users/jenny/Desktop/citibike/2013-12-CitiBiketripdata.csv')

In [22]:
gendertype6 = data6['gender']
gendertype6.head()

0    2
1    2
2    2
3    1
4    1
Name: gender, dtype: int64

In [23]:
male_count = 0
female_count = 0

for type in gendertype6:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 335587, female count: 88985

In [24]:
data7 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-01-CitiBiketripdata.csv')

In [25]:
gendertype7 = data7['gender']
gendertype7.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [26]:
male_count = 0
female_count = 0

for type in gendertype7:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 236106, female count: 57025

In [27]:
data8 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-02-CitiBiketripdata.csv')

In [28]:
gendertype8 = data8['gender']
gendertype8.head()

0    1
1    2
2    2
3    1
4    1
Name: gender, dtype: int64

In [29]:
male_count = 0
female_count = 0

for type in gendertype8:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 176526, female count: 41479

In [30]:
data9 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-03-CitiBiketripdata.csv')

In [31]:
gendertype9 = data9['gender']
gendertype9.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [32]:
male_count = 0
female_count = 0

for type in gendertype9:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 330568, female count: 85624

In [33]:
data10 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-04-CitiBiketripdata.csv')

In [34]:
gendertype10 = data10['gender']
gendertype10.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [35]:
male_count = 0
female_count = 0

for type in gendertype10:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 473395, female count: 134273

In [36]:
data11 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-05-CitiBiketripdata.csv')

In [37]:
gendertype11 = data11['gender']
gendertype11.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [38]:
male_count = 0
female_count = 0

for type in gendertype11:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 583696, female count: 174810

In [39]:
data12 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-06-CitiBiketripdata.csv')

In [40]:
gendertype12 = data12['gender']
gendertype12.head()

0    1
1    0
2    1
3    1
4    1
Name: gender, dtype: int64

In [41]:
male_count = 0
female_count = 0

for type in gendertype12:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 620949, female count: 197579

In [42]:
data13 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-07-CitiBiketripdata.csv')

In [43]:
gendertype13 = data13['gender']
gendertype13.head()

0    2
1    1
2    2
3    1
4    2
Name: gender, dtype: int64

In [44]:
male_count = 0
female_count = 0

for type in gendertype13:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 647466, female count: 202136

In [45]:
data14 = pd.read_csv('/Users/jenny/Desktop/citibike/2014-08-CitiBiketripdata.csv')

In [46]:
gendertype14 = data14['gender']
gendertype14.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [47]:
male_count = 0
female_count = 0

for type in gendertype14:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 630656, female count: 196719

In [48]:
data15 = pd.read_csv('/Users/jenny/Desktop/citibike/201409-citibike-tripdata.csv')

In [49]:
gendertype15 = data15['gender']
gendertype15.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [50]:
male_count = 0
female_count = 0

for type in gendertype15:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 651493, female count: 202856

In [51]:
data16 = pd.read_csv('/Users/jenny/Desktop/citibike/201410-citibike-tripdata.csv')

In [52]:
gendertype16 = data16['gender']
gendertype16.head()

0    1
1    2
2    1
3    1
4    1
Name: gender, dtype: int64

In [53]:
male_count = 0
female_count = 0

for type in gendertype16:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 587239, female count: 172111

In [54]:
data17 = pd.read_csv('/Users/jenny/Desktop/citibike/201411-citibike-tripdata.csv')

In [55]:
gendertype17 = data17['gender']
gendertype17.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [56]:
male_count = 0
female_count = 0

for type in gendertype17:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 391729, female count: 109285

In [57]:
data18 = pd.read_csv('/Users/jenny/Desktop/citibike/201412-citibike-tripdata.csv')

In [58]:
gendertype18 = data18['gender']
gendertype18.head()

0    0
1    2
2    1
3    0
4    2
Name: gender, dtype: int64

In [59]:
male_count = 0
female_count = 0

for type in gendertype18:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 306139, female count: 76377

In [60]:
data19 = pd.read_csv('/Users/jenny/Desktop/citibike/201501-citibike-tripdata.csv')

In [61]:
gendertype19 = data19['gender']
gendertype19.head()

0    2
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [62]:
male_count = 0
female_count = 0

for type in gendertype19:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 227764, female count: 52093

In [63]:
data20 = pd.read_csv('/Users/jenny/Desktop/citibike/201502-citibike-tripdata.csv')

In [64]:
gendertype20 = data20['gender']
gendertype20.head()

0    2
1    1
2    2
3    2
4    1
Name: gender, dtype: int64

In [65]:
male_count = 0
female_count = 0

for type in gendertype20:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 161563, female count: 33064

In [66]:
data21 = pd.read_csv('/Users/jenny/Desktop/citibike/201503-citibike-tripdata.csv')

In [67]:
gendertype21 = data21['gender']
gendertype21.head()

0    1
1    1
2    0
3    1
4    1
Name: gender, dtype: int64

In [68]:
male_count = 0
female_count = 0

for type in gendertype21:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 265849, female count: 63042

In [69]:
data22 = pd.read_csv('/Users/jenny/Desktop/citibike/201504-citibike-tripdata.csv')

In [70]:
gendertype22 = data22['gender']
gendertype22.head()

0    2
1    1
2    2
3    2
4    1
Name: gender, dtype: int64

In [71]:
male_count = 0
female_count = 0

for type in gendertype22:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 457585, female count: 128432

In [72]:
data23 = pd.read_csv('/Users/jenny/Desktop/citibike/201505-citibike-tripdata.csv')

In [73]:
gendertype23 = data23['gender']
gendertype23.head()

0    1
1    0
2    1
3    1
4    2
Name: gender, dtype: int64

In [74]:
male_count = 0
female_count = 0

for type in gendertype23:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 608007, female count: 186113

In [75]:
data24 = pd.read_csv('/Users/jenny/Desktop/citibike/201506-citibike-tripdata.csv')

In [76]:
gendertype24 = data24['gender']
gendertype24.head()

0    1
1    1
2    1
3    1
4    0
Name: gender, dtype: int64

In [77]:
male_count = 0
female_count = 0

for type in gendertype24:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 621591, female count: 188655

In [78]:
data25 = pd.read_csv('/Users/jenny/Desktop/citibike/201507-citibike-tripdata.csv')

In [79]:
gendertype25 = data25['gender']
gendertype25.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [80]:
male_count = 0
female_count = 0

for type in gendertype25:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 687255, female count: 217011

In [81]:
data26 = pd.read_csv('/Users/jenny/Desktop/citibike/201508-citibike-tripdata.csv')

In [82]:
gendertype26 = data26['gender']
gendertype26.head()

0    1
1    2
2    1
3    1
4    1
Name: gender, dtype: int64

In [83]:
male_count = 0
female_count = 0

for type in gendertype26:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 720727, female count: 235991

In [84]:
data27 = pd.read_csv('/Users/jenny/Desktop/citibike/201509-citibike-tripdata.csv')

In [85]:
gendertype27 = data27['gender']
gendertype27.head()

0    1
1    1
2    0
3    1
4    1
Name: gender, dtype: int64

In [86]:
male_count = 0
female_count = 0

for type in gendertype27:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 808558, female count: 269400

In [87]:
data28 = pd.read_csv('/Users/jenny/Desktop/citibike/201510-citibike-tripdata.csv')

In [88]:
gendertype28 = data28['gender']
gendertype28.head()

0    1
1    1
2    1
3    1
4    0
Name: gender, dtype: int64

In [89]:
male_count = 0
female_count = 0

for type in gendertype28:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 807097, female count: 256792

In [90]:
data29 = pd.read_csv('/Users/jenny/Desktop/citibike/201511-citibike-tripdata.csv')

In [91]:
gendertype29 = data29['gender']
gendertype29.head()

0    2
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [92]:
male_count = 0
female_count = 0

for type in gendertype29:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 674702, female count: 210001

In [93]:
data30 = pd.read_csv('/Users/jenny/Desktop/citibike/201512-citibike-tripdata.csv')

In [94]:
gendertype30 = data30['gender']
gendertype30.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [95]:
male_count = 0
female_count = 0

for type in gendertype30:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 568231, female count: 166368

In [96]:
data31 = pd.read_csv('/Users/jenny/Desktop/citibike/201601-citibike-tripdata.csv')

In [97]:
gendertype31 = data31['gender']
gendertype31.head()

0    1
1    1
2    2
3    2
4    1
Name: gender, dtype: int64

In [98]:
male_count = 0
female_count = 0

for type in gendertype31:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 379314, female count: 104457

In [99]:
data32 = pd.read_csv('/Users/jenny/Desktop/citibike/201602-citibike-tripdata.csv')

In [100]:
gendertype32 = data32['gender']
gendertype32.head()

0    1
1    1
2    1
3    2
4    1
Name: gender, dtype: int64

In [102]:
male_count = 0
female_count = 0

for type in gendertype32:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 417216, female count: 112587

In [103]:
data33 = pd.read_csv('/Users/jenny/Desktop/citibike/201603-citibike-tripdata.csv')

In [104]:
gendertype33 = data33['gender']
gendertype33.head()

0    1
1    1
2    2
3    1
4    1
Name: gender, dtype: int64

In [105]:
male_count = 0
female_count = 0

for type in gendertype33:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 634219, female count: 190551

In [106]:
data34 = pd.read_csv('/Users/jenny/Desktop/citibike/201604-citibike-tripdata.csv')

In [107]:
gendertype34 = data34['gender']
gendertype34.head()

0    1
1    1
2    1
3    1
4    2
Name: gender, dtype: int64

In [108]:
male_count = 0
female_count = 0

for type in gendertype34:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 674132, female count: 206510

In [109]:
data35 = pd.read_csv('/Users/jenny/Desktop/citibike/201605-citibike-tripdata.csv')

In [110]:
gendertype35 = data35['gender']
gendertype35.head()

0    2
1    1
2    1
3    0
4    1
Name: gender, dtype: int64

In [111]:
male_count = 0
female_count = 0

for type in gendertype35:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 783723, female count: 249847

In [112]:
data36 = pd.read_csv('/Users/jenny/Desktop/citibike/201606-citibike-tripdata.csv')

In [113]:
gendertype36 = data36['gender']
gendertype36.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [114]:
male_count = 0
female_count = 0

for type in gendertype36:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 947464, female count: 314618

In [115]:
data37 = pd.read_csv('/Users/jenny/Desktop/citibike/201607-citibike-tripdata.csv')

In [116]:
gendertype37 = data37['gender']
gendertype37.head()

0    0
1    1
2    2
3    0
4    0
Name: gender, dtype: int64

In [117]:
male_count = 0
female_count = 0

for type in gendertype37:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 876368, female count: 297078

In [118]:
data38 = pd.read_csv('/Users/jenny/Desktop/citibike/201608-citibike-tripdata.csv')

In [119]:
gendertype38 = data38['gender']
gendertype38.head()

0    1
1    2
2    1
3    1
4    1
Name: gender, dtype: int64

In [120]:
male_count = 0
female_count = 0

for type in gendertype38:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 999541, female count: 339589

In [121]:
data39 = pd.read_csv('/Users/jenny/Desktop/citibike/201609-citibike-tripdata.csv')

In [122]:
gendertype39 = data39['gender']
gendertype39.head()

0    1
1    2
2    1
3    1
4    1
Name: gender, dtype: int64

In [123]:
male_count = 0
female_count = 0

for type in gendertype39:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1057055, female count: 371680

In [124]:
data40 = pd.read_csv('/Users/jenny/Desktop/citibike/201610-citibike-tripdata.csv')

In [126]:
gendertype40 = data40['Gender']
gendertype40.head()

0    1
1    2
2    1
3    1
4    1
Name: Gender, dtype: int64

In [127]:
male_count = 0
female_count = 0

for type in gendertype40:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1044921, female count: 357032

In [128]:
data41 = pd.read_csv('/Users/jenny/Desktop/citibike/201611-citibike-tripdata.csv')

In [129]:
gendertype41 = data41['Gender']
gendertype41.head()

0    1
1    1
2    1
3    1
4    1
Name: Gender, dtype: int64

In [130]:
male_count = 0
female_count = 0

for type in gendertype41:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 827966, female count: 268652

In [131]:
data42 = pd.read_csv('/Users/jenny/Desktop/citibike/201612-citibike-tripdata.csv')

In [132]:
gendertype42 = data42['Gender']
gendertype42.head()

0    1
1    1
2    1
3    1
4    1
Name: Gender, dtype: int64

In [133]:
male_count = 0
female_count = 0

for type in gendertype42:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 596628, female count: 173165

In [134]:
data43 = pd.read_csv('/Users/jenny/Desktop/citibike/201701-citibike-tripdata.csv')

In [135]:
gendertype43 = data43['Gender']
gendertype43.head()

0    2
1    2
2    0
3    0
4    0
Name: Gender, dtype: int64

In [136]:
male_count = 0
female_count = 0

for type in gendertype43:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 541849, female count: 152992

In [137]:
data44 = pd.read_csv('/Users/jenny/Desktop/citibike/201702-citibike-tripdata.csv')

In [138]:
gendertype44 = data44['Gender']
gendertype44.head()

0    1
1    0
2    1
3    1
4    1
Name: Gender, dtype: int64

In [139]:
male_count = 0
female_count = 0

for type in gendertype44:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 567844, female count: 171785

In [140]:
data45 = pd.read_csv('/Users/jenny/Desktop/citibike/201703-citibike-tripdata.csv')

In [141]:
gendertype45 = data45['Gender']
gendertype45.head()

0    2
1    2
2    1
3    1
4    1
Name: Gender, dtype: int64

In [142]:
male_count = 0
female_count = 0

for type in gendertype45:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 538751, female count: 153476

In [143]:
data46 = pd.read_csv('/Users/jenny/Desktop/citibike/201704-citibike-tripdata.csv')

In [144]:
gendertype46 = data46['gender']
gendertype46.head()

0    1
1    1
2    1
3    1
4    2
Name: gender, dtype: int64

In [145]:
male_count = 0
female_count = 0

for type in gendertype46:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 854852, female count: 287729

In [146]:
data47 = pd.read_csv('/Users/jenny/Desktop/citibike/201705-citibike-tripdata.csv')

In [147]:
gendertype47 = data47['gender']
gendertype47.head()

0    2
1    1
2    2
3    1
4    1
Name: gender, dtype: int64

In [148]:
male_count = 0
female_count = 0

for type in gendertype47:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1006280, female count: 339408

In [149]:
data48 = pd.read_csv('/Users/jenny/Desktop/citibike/201706-citibike-tripdata.csv')

In [150]:
gendertype48 = data48['gender']
gendertype48.head()

0    1
1    1
2    1
3    2
4    1
Name: gender, dtype: int64

In [151]:
male_count = 0
female_count = 0

for type in gendertype48:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1131930, female count: 401253

In [152]:
data49 = pd.read_csv('/Users/jenny/Desktop/citibike/201707-citibike-tripdata.csv')

In [153]:
gendertype49 = data49['gender']
gendertype49.head()

0    1
1    1
2    2
3    1
4    2
Name: gender, dtype: int64

In [154]:
male_count = 0
female_count = 0

for type in gendertype49:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1099384, female count: 401021

In [155]:
data50 = pd.read_csv('/Users/jenny/Desktop/citibike/201708-citibike-tripdata.csv')

In [157]:
gendertype50 = data50['gender']
gendertype50.head()

0    2
1    1
2    2
3    1
4    1
Name: gender, dtype: int64

In [158]:
male_count = 0
female_count = 0

for type in gendertype50:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1162011, female count: 422385

In [159]:
data51 = pd.read_csv('/Users/jenny/Desktop/citibike/201709-citibike-tripdata.csv')

In [160]:
gendertype51 = data51['gender']
gendertype51.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [161]:
male_count = 0
female_count = 0

for type in gendertype51:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1218524, female count: 444132

In [162]:
data52 = pd.read_csv('/Users/jenny/Desktop/citibike/201710-citibike-tripdata.csv')

In [163]:
gendertype52 = data52['gender']
gendertype52.head()

0    1
1    0
2    1
3    2
4    0
Name: gender, dtype: int64

In [164]:
male_count = 0
female_count = 0

for type in gendertype52:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 1251346, female count: 441805

In [165]:
data53 = pd.read_csv('/Users/jenny/Desktop/citibike/201711-citibike-tripdata.csv')

In [166]:
gendertype53 = data53['gender']
gendertype53.head()

0    1
1    1
2    1
3    0
4    2
Name: gender, dtype: int64

In [167]:
male_count = 0
female_count = 0

for type in gendertype53:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 930727, female count: 304200

In [168]:
data54 = pd.read_csv('/Users/jenny/Desktop/citibike/201712-citibike-tripdata.csv')

In [169]:
gendertype54 = data54['gender']
gendertype54.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [170]:
male_count = 0
female_count = 0

for type in gendertype54:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 651548, female count: 194802

In [171]:
data55 = pd.read_csv('/Users/jenny/Desktop/citibike/201801_citibikejc_tripdata.csv')

In [172]:
gendertype55 = data55['gender']
gendertype55.head()

0    1
1    2
2    1
3    1
4    1
Name: gender, dtype: int64

In [173]:
male_count = 0
female_count = 0

for type in gendertype55:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 9798, female count: 2451

In [174]:
data56 = pd.read_csv('/Users/jenny/Desktop/citibike/201801_citibikenyc_tripdata.csv')

In [175]:
gendertype56 = data56['gender']
gendertype56.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [176]:
male_count = 0
female_count = 0

for type in gendertype56:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 537587, female count: 151806

In [177]:
data57 = pd.read_csv('/Users/jenny/Desktop/citibike/201802_citibikejc_tripdata.csv')

In [178]:
gendertype57 = data57['gender']
gendertype57.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [179]:
male_count = 0
female_count = 0

for type in gendertype57:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 11849, female count: 2757

In [180]:
data58 = pd.read_csv('/Users/jenny/Desktop/citibike/201802_citibikenyc_tripdata.csv')

In [181]:
gendertype58 = data58['gender']
gendertype58.head()

0    1
1    1
2    1
3    2
4    0
Name: gender, dtype: int64

In [182]:
male_count = 0
female_count = 0

for type in gendertype58:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 621743, female count: 181265